name: Magisk Build

on:
  push:
    branches: [master]
    paths:
      - ".github/workflows/build.yml"
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  build:
    name: Build Magisk artifacts
    runs-on: macos-15
    strategy:
      fail-fast: false
    steps:
      - name: Check out
        run: |
          cd ..
          git clone --single-branch --depth=1 --recurse-submodules https://github.com/topjohnwu/Magisk magiskd-build
          cd magiskd-build
          cp native/src/core/applets.cpp /tmp/patch
          sed -E 's/constexpr +Applet +applets\[\] *= *\{/constexpr Applet applets[] = {\n{ "zygisk", zygisk_main },/g' /tmp/patch > native/src/core/applets.cpp
          cat native/src/core/applets.cpp

      - name: Setup environment
        uses: ./.github/actions/setup
        with:
          is-asset-build: true

      - name: Build release
        run: |
          # ./build.py -vr all
          ./build.py -vr all
          ls -alvh *

      # - name: Build debug
      #   run: |
      #     ./build.py -v all

      # Create release
      - name: Generate release tag
        id: tag
        run: |
          echo "release_tag=Go_build_$(date +%s)" >> $GITHUB_OUTPUT
          echo "release_hash=$(git log --format="%H" -n 1)" >> $GITHUB_OUTPUT
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body: ${{ steps.tag.outputs.release_hash }}
          tag_name: ${{ steps.tag.outputs.release_tag }}
          files: |
            ./out/*
            ./app/apk/build/outputs/*
      # Done release

      - name: Stop gradle daemon
        run: ./app/gradlew --stop

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write
